body {
background-color: black;
color: darkblue;
}

a {
font-weight: bold;
font-size: 30px;
}

td {
height: 100px;
width: 300px;
text-align: center;
}

h1 {
text-align: center;
font-size: 50px;
}