:root {
	--page-bottom: calc(100vh - 150px);
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Homenaje';
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #9f9;
	color: #040;
	z-index: 100;
}

nav {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	z-index: 100;
}

a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px;
}

a:hover {
	color: #050;
	background: silver;
}

a:active {
	color: black;
	background-color: white;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	cursor: pointer;
	flex: auto;
	text-align: center;
}

body {
	background: #232;
	border: white;
	font-family: 'Homenaje';
}

#main {
	position: fixed;
	top: 90px;
	left: 0;
	width: 100%;
	color: #fff;
	height: calc(100vh - 100px);
	overflow: auto;
}


button {
	font-family: 'Homenaje';
	background-color: #030;
	color: #9f9;
	font-size: 18px;
	width: 110px;
	height: 90px;
	font-weight: bold;
	float: center;
	border-radius: 6px;
	padding: 2px;
}


select {
	font-size: 20px;
	color: #ccc;
}

input {
	font-size: 20px;
	height: 55px;
	float: center;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
}

th {
	font-size:20px;
}

td {
	font-size: 20px;
	vertical-align: center;
}

textarea {
	font-size: 20px;
}

table {
	border-spacing: 5px;
}

.slnk{

	font-size: 16px;
	width: 25px;
	background-color: greenyellow;
	color: darkslategrey;
	font-weight: bold;
	float: center;
	border-radius: 8px;
}

.link {
	width: 75px;
	height: 50px;
	background-color: lightgreen;
	color: black;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
}

.ebtn:active {
	background-color: orange;
	color: blue;
}

select {
	background-color: black;
}

.dateinput {
	background-color: black;
}

.sectExpand {

	background-color: black;
	color: white;

}

svg, table {

	width: 100%;

}

.controlGrid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, fr);
	justify-items: stretch;
	align-items: center;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	z-index: 100;
	list-style-type: none;
}

.controlGrid a, .controlGrid p, .controlGrid select {
	display: flex;
	padding: 0;
	height: 25px;
	justify-content: center;
	align-items: center;
}

.controlGrid select {
	width: 100%;
	text-align: center;
}


#lblEventTime {
	grid-column-start: 2;
	grid-column-end: 4;
}

#mainSection {
	top: 150px;
	bottom: var(--page-bottom);
	position: absolute;
	left: 0;
	width: 100%;
	color: #fff;
	height: calc(100vh - 300px);
	overflow: auto;
	margin-bottom: 150px;
}

#footer {
	top: var(--page-bottom);
	position: absolute;
	width: 100%;
	background-color: #333;
	overflow: scroll;
	color: lime;
}

#timeZoneLabel, #timeZoneSelectContainer {
	grid-column-start: 1;
	grid-column-end: 3;
}

#detailStartLabel, #detailStartSelectContainer {
	grid-column-start: 4;
	grid-column-end: 6;
}

#detailEndLabel, #detailEndSelectContainer {
	grid-column-start: 6;
	grid-column-end: 8;
}

.eventList {
	font-size: 16px;
}

.pageSettings {
	display: none;
}

.groupHeading {
	font-size: 30px;
	font-weight: bold;
	color: #aaa;
}

.btnGroup {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	gap: 5px;
}

.hidden {
	display: none;	
}

#moodIndicator {
	display: flex;
	padding: 0;
	height: 25px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.warn {

	background-color: red;

}

@media screen and (max-width: 500px) 
	{
	
		.groupHeading {
		
			font-size: 16px;
		
		}
		
		button {

			width: 75px;
			height: 75px;
			font-size: 12px;

		}
		
		.eventList td, .eventList th {
			font-size: 10px;
		}
		
		.slnk {
			font-size: 8px;
			width: 15px;
			height: 15px;
		
		}


}